.create_place_card {
  padding: 1rem;
}
.create-place-text {
  margin: 0;

  padding: 1rem 0 1.5rem 0;
}

.place-list {
  list-style: none;
  margin: auto;
  padding: 0;

  width: 90vw;
  max-width: 40rem;
}
