.place-card__container {
  margin: 3rem 0;
}

.place-card__card {
  padding: 0;
}

.place-card__img-wrapper {
  width: 100%;
  height: 20rem;
}
.place-card__img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.place-card__text-wrapper {
  margin: 1rem;
}
.place-card__text-wrapper h2 {
  margin: 0 0 0.5rem 0;

  font-size: 1.5rem;
  font-weight: 600;
}
.place-card__text-wrapper h3 {
  margin: 0 0 0.5rem 0;

  font-size: 1rem;
  font-weight: 200;
  font-style: italic;
  color: #636e72;
}
.place-card__text-wrapper p {
  margin: 0 0 0.5rem 0;

  font-size: 1rem;
  font-weight: 400;
}

.place-card__btn-wrapper {
  margin: 1rem;
}
.place-card__btn-wrapper button,
.place-card__btn-wrapper a {
  margin-right: 1rem;
}

/* Modal */
.map-container {
  width: 60vw;
  height: 60vh;
}

.delete-warning {
  padding: 0 1rem;
}
