.input-container {
  border-bottom: 1px solid #ccc;

  padding: 1rem;
  padding-bottom: 0.5rem;
}

.input-container label,
.input-container input,
.input-container textarea {
  display: block;
}

.input-container label {
  font: inherit;
  font-weight: 500;

  margin-bottom: 0.5rem;
}

.input-container input,
.input-container textarea {
  width: 100%;
  box-sizing: border-box;
  margin-left: -0.2rem;
  font: inherit;

  border: none;
  border-radius: 6px;

  padding: 0.25rem 0.25rem;
}

.input-container input:focus,
.input-container textarea:focus {
  outline: none;
  border-color: #510077;
}

/* isValid: false */

.input-container--invalid p {
  margin: 0.3rem 0 0;

  color: red;
  font-size: 0.9rem;
  font-weight: 300;

  text-align: left;
}

.input-container--invalid input,
.input-container--invalid textarea {
  background: #ffd1d1;
}

::placeholder {
  font: inherit;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 0.5px;
}
